body {
  margin: 0;
  font-family: "Ariel", "serif";
}

.app-container {
  padding: 20px;
  background-color: #585123; /* λαδί χρώμα */
  min-height: 100vh;
}

.app-title {
  text-align: center;
  color: white;
  margin-bottom: 50px;
}

/* Το κουτί της Φόρμας */
.form-container {
  background: #a9b3ce; /* Το γκρι-μπλε χρώμα */
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 5px 10px grey;
}

.form-layout {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

/* Τα πεδία εισαγωγής (Inputs) */
.form-input {
  height: 45px;             /* Σταθερό ύψος για ευθυγράμμιση */
  padding: 0 15px;          /* Γέμισμα δεξιά-αριστερά */
  font-size: 16px;
  border: none;             /* Χωρίς περίγραμμα */
  border-radius: 4px;       /* Ελαφρώς στρογγυλεμένα  */
  outline: none;
  background-color: white;
  color: black;
  box-shadow: 0 2px 5px grey;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.input-amount {
  width: 100px;
  text-align: center;
}

.cat-btn:hover {
  background-color: grey;
}

/* Το κουμπί του είδους εξόδου*/
.dropdown-container {
  position: relative;
  width: 160px;
  margin-right: 10px;
  font-family: Arial, sans-serif;
}

.dropdown-header {
  height: 45px;
  padding: 0 15px;
  background-color: white;
  color: black;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px grey;
  box-sizing: border-box;
  transition: background 0.3s;
}

.dropdown-header:hover {
  background-color: #880d1e;
}

/* Τα υπόλοιπα (Βελάκι, Λίστα) */
.arrow {
  font-size: 12px;
  margin-left: 10px;
  transition: transform 0.3s;
}

.arrow.up {
  transform: rotate(180deg);
}

.dropdown-list {
  position: absolute;
  top: 105%;
  left: 0;
  right: 0;
  background-color: white;
  list-style: none;
  padding: 0;
  margin: 0;
  border-radius: 4px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  overflow: hidden;
}

.dropdown-item {
  padding: 12px 15px;
  cursor: pointer;
  color: black;
  border-bottom: 1px solid #eee;
}

.dropdown-item:hover {
  background-color: #f1f1f1;
  color: #880d1e;
  font-weight: bold;
}


.add-button {
  padding: 8px 15px;
  background-color: #f0e7d8;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.add-button:hover {
  background-color: #D8C19A;
}

/* Το μήνυμα του λάθους */
.error-message {
  color: white;
  margin-top: 10px;
  font-weight: bold;
  background-color: #880d1e; /* Το μπορντό χρώμα */
  padding: 10px;
  border-radius: 40px;
  text-align: center;
}

/* Η λίστα των εξόδων */
.expense-list {
  list-style: none;
  padding: 0;
}

.expense-item {
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 80px;
  display: flex;
  align-items: center;
  /* Το background color το τοποθετούμε στο App.JS γιατί αλλάζει καθώς χρησιμοποιείται */
}

.delete-btn {
  background: #A70C0C;
  color: white;
  border: black;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-right: 10px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Συνολικό Ποσό */
.total-amount {
  margin-top: 20px;
  font-size: 1.5em;
  font-weight: bold;
  color: white;
  text-align: right;
  border-top: 1px solid rgba(255,255,255,0.3);
  padding-top: 10px;
}